*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,span{
  color:#242424;
  text-align : center;
  line-height:1.25;
}

a{
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

i:hover{
  opacity: 0.7;
}

h1{
  font-size: 36px;
}

p{
  line-height: 1.5;
  font-size:16px;
}

.flex-1{
  flex:1;
}

.flex{
  display: flex;
}

.row{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text--purple{
  color:#6030b1;
}

section:nth-child(even){
  background-color: #f8f8f8;
}

.container{
  padding:40px 0;
}

.section__title{
  margin-bottom: 20px;
}

html{
  scroll-behavior: smooth;
}

.link__hover-effect:after{
  content:"";
  position: absolute;
  height: 3px;
  width: 0;
  bottom:-3px;
  right:0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after{
  width: 100%;
  left:0;
}

.link__hover-effect--white:after{
  background-color: #fff;
}

.link__hover-effect--black:after{
  background-color: black;
}

/* small phones, tablets,large smartphones */
@media(max-width:768px){
  nav{
    height:68px;
  }

  h1{
    font-size:28px;
  }

  .about-me__info--para{
    font-size:18px;
  }
}

